<footer class="footer" id="sponsors">
  <img class="footer--tower" src="assets/illustrations/torre.png" alt="Tower">
  <article class="footer--container">
    <div class="footer--container__title">
      <h2 class="footer--container__title__text application-common-title">
        Patrocinadores
      </h2>
    </div>
    <div class="footer--container__content">
      <div class="footer--container__content__banner">
        <app-carrousel [items]="items" [actions]="false"/>
      </div>
      <div class="footer--container__content--bottom">
        <div class="footer--container__content__links">
          <a href="https://www.armenia.gov.co/" target="_blank" class="footer--container__content__links--gov">
            ARMENIA.GOV.CO
          </a>
          <a class="footer--container__content__links--email">
            fiestasdearmeniasena@gmail.com
          </a>
        </div>
      </div>
    </div>
  </article>
</footer>
