@import 'src/assets/sass/variables';

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: transparent;
  z-index: 10;
  position: sticky;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1366px;
    padding: 1rem 2.5rem;
    margin: 0 auto;

    &--navigation {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 12.5rem 0 0;

      &__link {
        font-family: 'P22';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 4.5px;
        padding: 0.675rem 1rem;
        border-radius: 10px;
        background-color: var(--primary-alt-color);
        color: var(--white-color);

        &:hover {
          cursor: pointer;
          background-color: var(--primary-color);
        }
      }
    }
  }
}
