.application-common-title {
  padding: 1.5rem 5rem;
  color: var(--white-color);
  background-color: var(--primary-alt-color);
  font-family: 'P22';
  letter-spacing: 2.5px;
  font-size: 40pt;
  border-radius: 15px;
}
