
// Palette
$primary-color: #F08417;
$primary-alt-color: #ECC222;

$secondary-color: #A9C94A;
$secondary-alt-color: #78B72B;

$tertiary-color: #2F7663;
$tertiary-alt-color: #75C5C4;

$accent-color: #D81615;

$black-color: #000000;
$white-color: #FFFFFF;

$dark-color: #000000;
$light-color: #FFFFFF;
